<!-- meta information -->
<meta charset="utf-8">
<meta name="description" {% if page.title == "Home" %}
      content="{{ site.description }}" {% else %}
      content="{{ page.content | strip_html | strip_newlines | truncate: 120 }}" {% endif %}>
<meta name="author" content="{{ site.author }}">

<!-- Enable responsiveness on mobile devices-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

<!-- title -->
<title>{% if page.title %}{{ page.title }} &middot; {% endif %}{{ site.title }}</title>

<!-- icons -->
<link rel="shortcut icon" href="{{ '/assets/images/favicon.ico' | relative_url }}">

<!-- stylesheets -->
<link rel="stylesheet" href="{{ '/assets/css/responsive.gs.12col.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/animate.min.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/syntax.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

<!-- Google fonts -->
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic&subset=latin-ext">

{% if site.paginate %}
<!-- font Awesome -->
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
{% endif %}

<!-- feed links -->
<link rel="alternate" href="{{ 'feed.xml' | absolute_url }}" type="application/rss+xml" title="{{ site.title }}">


<!-- google search -->>
<meta name="google-site-verification" content="VskuEu7olJRXV1BQtndBDfyTKHkx13_T6FsB_W7n69k" />



<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
</script>

<script type="text/x-mathjax-config"> 
  MathJax.Hub.Config({ TeX: { equationNumbers: { autoNumber: "all" } } }); 
</script>

<script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {
         inlineMath: [ ['$','$'], ["\\(","\\)"] ],
         processEscapes: true
       }
     });
</script>


<script>
  var _hmt = _hmt || [];
  (function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?88dc9c40a4d2a260dac7b8fbb2e36e64";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
  })();
</script>