---
layout: default
---

<article class="single row gutters">
  <time class="published" datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date_to_long_string }}</time>
  <h2>{{ page.title }}</h2>

  {{ content }}
</article>


<div id="related">
  <h2>Recent Posts</h2>
  <ul class="posts">
    {% for personal in site.related_personal limit:3 %}
      <li><span>{{ personal.date | date_to_string }}</span> &raquo; <a href="{{ personal.url }}">{{ personal.title }}</a></li>
    {% endfor %}
  </ul>
</div>

